<!DOCTYPE html>
<html class="no-js">

<head>
	<title></title>
	<meta charset="utf-8">
	<!-- vendor:css -->
	<link rel="stylesheet" href="/src/assets/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="/src/assets/vendor/c3.min.css">
	<!-- endinject -->
	<!-- app:css -->
	<link rel="stylesheet" href="/src/assets/css/app.css">
	<!-- endinject -->
</head>

<body ng-app="frontWgApp">
	<h1>家計簿サンプルアプリ</h1>
	<!-- angular:js -->
	<script src="/src/assets/vendor/angular/angular.min.js"></script>
	<script src="/src/assets/vendor/angular/angular-ui-router.min.js"></script>
	<!-- endinject -->
	<!-- vendor:js -->
	<script src="/src/assets/vendor/1_d3.min.js"></script>
	<script src="/src/assets/vendor/2_c3.min.js"></script>
	<script src="/src/assets/vendor/jquery-2.1.4.min.js"></script>
	<script src="/src/assets/vendor/moment-with-locales.min.js"></script>
	<script src="/src/assets/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="/src/assets/vendor/underscore-min.js"></script>
	<!-- endinject -->
	<!-- shared:js -->
	<!-- endinject -->
	<!-- app:js -->
	<script src="/src/app/app.js"></script>
	<!-- endinject -->
	<!-- models:js -->
	<!-- endinject -->
	<!-- controllers:js -->
	<script src="/src/app/controllers/kakeiboCtrl.js"></script>
	<!-- endinject -->
	<!-- components:js -->
	<!-- endinject -->
	
	<div ng-controller="GraphController" ng-init="showGraph()">
		<section id="kakeibo_chart">
			<div id="chart"></div>
		</section>
	</div>
	<div ng-controller="KakeiboController">
		<section id="kakeibo_list">
			<h2>一覧</h2>
			<!-- 一覧表示部分 -->
			<table>
				<thead>
					<tr>
						<th>日付</th>
						<th>品目</th>
						<th>金額</th>
					</tr>
				</thead>
				<tbody ng-repeat="kakeibo in kakeibos">
					<tr ng-class="{'bg-selected':kakeibo.selected}" ng-click="selected(kakeibo)">
						<td>{{ kakeibo.formatDate() }}</td>
						<td>{{ kakeibo.item }}</td>
						<td>{{ kakeibo.moneyDisp() }}</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section id="kakeibo_input">
			<h2>入力</h2>
			<form>
				<div class="form-group">
					<label for="in_item" accesskey="i">日付</label>
					<input ng-model="in_kakeibo.date" type="date">
				</div>
				<div class="form-group">
					<label for="in_item" accesskey="i">品目</label>
					<input ng-model="in_kakeibo.item" type="text">
				</div>
				<div class="form-group">
					<label for="in_item" accesskey="m">金額</label>
					<input ng-model="in_kakeibo.money" type="text">
				</div>
				<div class="form-group">
					<input type="button" ng-click="add()" value="新規">
					<input type="button" ng-click="modify()" value="更新">
					<input type="button" ng-click="delete()" value="削除">
				</div>
			</form>
		</section>
	</div>
</body>

</html>